@charset "utf-8";

@import "_reset";

#wrapper {
  width:100%;
  p{
    width: 200px;
    margin: 0;
    padding: 0;
  }
}
.box {
  width: 100px; height: 100px; background: #000; cursor: pointer; transition: all 300ms ease;
}
.box:hover {
  background: #ccc; width: 300px;
}
a {
  display: flex;
}
/*
*汎用
*/
a.imgov:hover img {
  filter:alpha(opacity=75);
  opacity: 0.75;
}